/* spa-component-page: release */
.component.page {
    width: 720px;
    height: 480px;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .component.page.active {
        visibility: inherit; }
