.stb-component-page {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 720px;
    height: 576px;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .stb-component-page.hidden {
        display: none; }
    .stb-component-page.active {
        visibility: inherit; }
